.menu {
  max-width: 24rem;
  margin: 1rem auto;
  padding: 1rem 0.6rem;
}

.menuh {
  text-align: left;
  padding-left: 1rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: 700;
  font-family: "Alegreya Sans SC", sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 0.2rem;
}

.menuh .active {
  background-color: red;
}
.item {
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin: 0.2rem 0;
  padding: 0.4rem 0.4rem;
  color: #000;
  border-radius: 4px;
  font-family: var(--font);
  position: relative;
}
.disable {
  opacity: 0.3;
}

.item-name {
  font-size: 1.1rem;
}

.restaurant-title h1 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.tag {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.item-block {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.menu-list {
  padding: 0.4rem 0.8rem;
  color: #d4f5f5;
  background-color: var(--primary);
  /* border-radius: 0 0 8px 8px; */
  margin-bottom: 1rem;
}

.non-veg {
  background-color: red;
}

.veg {
  background-color: green;
}

.box {
  height: 1.2rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.item-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
